html{
    font-family: sans-serif;
}

body {
    width: 800px;
    max-width: 90vw;
    margin: auto auto 100px;
}

.example {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.example p{
    max-width: 600px;
}

.example img{
    border: solid black 1px;
}

.example video{
    border: solid black 1px;
}

li{
    margin-bottom: 14px;
    margin-top: 14px;
}